@media only screen and (max-width: 479px) {
	.slidercontainer { display: none; }
	ol.breadcrumb li:first-child { display: none; }
}

@media only screen and (max-width: 767px) {
	.top { border-bottom: 1px solid #e8e8e8; position: relative; width: 100%; z-index: 0; }
	.top.sticky { box-shadow: none; position: relative; z-index: 0; }
	.stickyarea {display:none;}
	.logo {padding:20px 0; display:table; margin:0 auto;}
	#navigation {    display:none;  }
	.slicknav_menu {    display:block;  }
	#mainslider .item .slidecaption { top: 9%; }
	#mainslider .item .slidecaption h2 { font-size: 1.3em; }
	#mainslider .item .slidecaption h4 { font-size: 1.1em; margin-top: 6px; }
	#mainslider .item .slidecaption .btn-slide { font-size: 0.9em; margin: 6px auto 10px auto; padding: 3px 6px; }
	#mainslider-nav .item { font-size: 11px; letter-spacing: 0; padding: 10px 0px; }
	#mainslider-nav .item i { display: block; font-size: 15px; margin-bottom: 6px; padding-right: 0; }
	.spacing-70 { padding-top: 30px; }
	.feature p, .pricingtables .panel, .statistics span { margin-bottom: 18px; }
	.pricingtables { padding-bottom: 35px; }
	.offerdescription { text-align: center; }
	.offerdescription h2 { font-size: 30px; }
	.offerdescription p { font-size: 16px; }
	.domainsearch input[type="text"].form-control { border-bottom-right-radius: 5px; border-top-right-radius: 5px; font-size: 15px; margin-bottom: 9px; }
	.domainsearch select.form-control { font-size: 15px; margin-bottom: 9px; }
	.domainsearch button[type="submit"] { border-bottom-left-radius: 5px; border-top-left-radius: 5px; font-size: 15px; }
	.pricingtables .most-popular, .pricingtables.shared .most-popular { border-width: 0; box-shadow: none; top: 0; z-index: 0; }
	.footer { padding-top: 35px; }
	.footer h4 { margin-top: 10px; }
	.social {padding-bottom:15px;}
	.social ul {display: table; margin: 0 auto; margin-bottom:6px;}
	.social ul li { padding: 11px 14px 12px; border-bottom: 1px solid #393939;}
	.social ul li a { font-size: 15px; }
	.breadcrumbs h1 { margin-bottom: 9px; text-align: center; }
	ol.breadcrumb { display: table; float: none; margin: 0 auto; }
	.btn-group.price-per-period .btn { font-size: 15px; padding: 6px 10px 4px; }
	.pricingtables .hostingfeatures { display: none; }
	.r-tabs .r-tabs-nav { display: none; }
	.r-tabs .r-tabs-accordion-title { display: block; }
	#shared-hosting-tabs #feature1 h5, #shared-hosting-tabs #feature2 img, #shared-hosting-tabs #feature3 img, #shared-hosting-tabs #feature4 .supportchannels .block-grid-item i, #shared-hosting-tabs #feature5 img {margin-top:25px;}
	.supportchannels .block-grid-item { padding: 0 15px; }
	#shared-hosting-tabs #feature4 .supportchannels .block-grid-item p {font-size:15px;}
	.smscrimg { margin-bottom: 30px; margin-top: 30px; }
	.domains-right-side, .domains-right-side h6, .domains-right-side p { text-align: left; }
	#tld-table td {text-align: left;}
	.about hr, .about-text p { display:none; }
	.about-text {top:30%;}
	.about-text h2 {font-size:18px;}
	.thequote {padding:30px 0;}
	.about-quote h5 {font-size:25px; margin-bottom:30px; }
	.about-quote span{font-size:15px; }
	.clients .block-grid-item {border:0; }
	.testimonial-content p {padding:25px 0 5px; font-size:15px;}
	.datacenter-facilities .facility {  margin-bottom:30px;}
	.datacenter-facilities .facility h3 {  margin: 35px 25px 18px;    padding-bottom: 20px; }
	.datacenter-facilities .facility h3 .title {    font-size: 15px;}
	.datacenter-facilities .facility p {    margin: 0 30px;}
	.elements h5.badge {font-size:12px; padding:9px 10px; }
	.blog nav ul.pagination li {font-size:14px;}
	.blog nav ul.pagination li a {padding: 5px 9px 4px;}
	
	.vps-prices-container #vps-slider { margin-bottom:15px; }
	.vps-prices-drag { padding: 0 25px; margin-bottom:-13px;}
	.sliderbottom [class*='col-'] {padding:12px 0; border-bottom:1px solid #6C7A89;}
	.sliderbottom [class*='col-']:last-child {border-bottom:0;}
	#plan_option h6 span.how_much {position:relative; background:#72AC94; display:table; margin:0 auto; text-align: center; color:#fff; padding:8px 17px; margin-top:30px; margin-bottom:0; font-size:20px;}
	#plan_option h6 span.how_much:after {  top: 100%;  left: 50%;  border: solid transparent;  content: " ";  height: 0;  width: 0;  position: absolute;  pointer-events: none;  border-color: rgba(114, 172, 148, 0);  border-top-color: #72AC94;  border-width: 10px;  margin-left: -10px;}
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
	.sf-menu li a { letter-spacing: 0; padding: 32px 10px; }
	#mainslider .item .slidecaption { top: 16%; }
	#mainslider .item .slidecaption h2 { font-size: 2.1em; }
	#mainslider .item .slidecaption h4 { font-size: 1.2em; margin-top: 10px; }
	#mainslider .item .slidecaption .btn-slide { font-size: 1em; margin: 10px auto 10px auto; padding: 5px 10px; }
	#mainslider-nav .item i { font-size: 16px; padding-right: 4px; }
	#mainslider-nav .item { font-size: 13px; letter-spacing: 0; }
	.feature p { font-size: 15px; padding: 0 10px; }
	.pricingtables .panel-heading h3 { font-size: 15px; }
	.offerdescription h2, .offer h2 { font-size: 36px; }
	.pricingtables .btn-pricetable { font-size: 0.9em; padding: 5px 10px; }
	.pricingtables h4 { font-size: 39px; }
	.footer h4 { font-size: 14px; letter-spacing: 0; padding: 10px 6px; }
	.footer ul li { font-size: 14px; padding: 4px 6px; }
	.pricingtables .hostingfeatures ul { margin-top: 112px; }
	.supportchannels .block-grid-item { padding: 0 15px; }
	.vps-plans div.vps-plan:nth-child(2) { padding-left: 30px; }
	.vps-plans div.vps-plan:nth-child(3) { padding-right: 50px; }
	.vps-plans div.vps-plan { font-size: 12px; }
	.vps-plans.fiveplans div.vps-plan:nth-child(2) { padding-left: 12px;}
	.vps-plans.sixplans div.vps-plan:nth-child(3) { padding-right: 60px; }
	.pricingtables.servers .panel-heading h3 { font-size: 26px; }
	#tld-table thead th {font-weight:400;  font-size:12px;}
	#tld-table thead th:before { right:6px; }
	.domainfeatures p { font-size: 15px; padding:0 10px;}
	.social ul li { padding: 25px 20px;}
	#mc_embed_signup input[type="submit"] { font-size: 14px;}
	.thequote {padding:30px;}
	.about-quote h5 {font-size:25px; margin-bottom:30px; }
	.about-quote span{font-size:15px; }
}

@media only screen and (min-width: 960px) and (max-width: 1025px) {
	#mainslider .item .slidecaption { top: 19%; }
	#mainslider .item .slidecaption h2 { font-size: 3em; }
	#mainslider .item .slidecaption h4 { font-size: 1.5em; margin-top: 15px; }
	#mainslider .item .slidecaption .btn-slide { font-size: 1em; margin: 15px auto 10px auto; padding: 10px 20px; }
	.social ul li { padding: 25px 30px; }
	.datacenter-facilities .facility {  margin-bottom:30px;}
	.datacenter-facilities .facility h3 {  margin: 35px 25px 18px;    padding-bottom: 20px; }
	.datacenter-facilities .facility h3 .title {    font-size: 17px;}
	.datacenter-facilities .facility p {    margin: 0 30px;}
	.vps-plans.sixplans div.vps-plan:nth-child(3) { padding-right: 80px; }
}

@media (min-width: 768px) {
	.col-sm-15 {        width: 20%;        float: left;    }
}
@media (min-width: 992px) {
	.col-md-15 {        width: 20%;        float: left;    }
}
@media (min-width: 1200px) {
	.col-lg-15 {        width: 20%;        float: left;    }
}