/* ============
	1 = Global
============ */

body { background: #fff; color: #5a5a5a; font-family: 'hind', Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif; font-size: 14px; font-style: normal; font-weight: normal; margin: 0; position: relative; webkit-font-smoothing: antialiased;
	overflow-x: hidden;}

.stickyarea { padding-top: 84px;}
.row { margin-bottom: 0; margin-left: auto; margin-right: auto; margin-top: 0; max-width: 1280px; width: 100%; }
.row.full-width { margin-bottom: 0; margin-left: auto; margin-right: auto; margin-top: 0; max-width: 100%; width: 100%; }
.row.no-gutter { margin:0 auto;}
.row.no-gutter [class*='col-']:not(:first-child), .row.no-gutter [class*='col-']:not(:last-child) { padding-left: 0; padding-right: 0; }
.center-block { float: none; }
a { color: #DE6262; outline: 0; text-decoration: none; }
a:hover, a:active, a:focus { outline: 0; text-decoration: none; color:#6E6E6E; }
code { background: #f5f2f0; border: 0; border-radius: 6px; color: #303038; display: block; font-family: consolas, monaco, 'andale mono', monospace; font-weight: normal; line-height: 1.3; margin: 8px 0; padding: 12px; text-shadow: 0 1px white; white-space: -moz-pre-wrap; white-space: -o-pre-wrap; white-space: pre-wrap; }

img {  max-width: 100%;  height: auto; -ms-interpolation-mode: bicubic; display: inline-block;  vertical-align: middle;}

section {
padding: 0 0 45px 0 !important;	
}

/* Ηeadings */
h1, h2, h3, h4, h5, h6 { color: #5a5a5a; font-family: 'montserrat', Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif; font-weight: 700; line-height: 1.1; margin-bottom: 12px; margin-top: 12px; text-rendering: optimizelegibility; }
h1 { font-size: 44px; }
h2 { font-size: 34px; }
h3 { font-size: 27px; }
h4 { font-size: 23px; }
h5 { font-size: 17px; }
h6 { font-size: 14px; }
/* End of Ηeadings */

p { font-family: inherit; font-size: 17px; font-weight: normal; line-height: 1.45; margin: 0 0 17px 0;  font-weight: 300;}
hr { border: solid #eff0f4; border-width: 1px 0 0; clear: both; height: 0; margin: 21px 0; }
hr.small { border: solid #DE6262; border-width: 1px 0 0; clear: both; height: 0; margin:0 auto; margin-top:27px; margin-bottom:27px; max-width:150px; }
.spacing-70 { padding-top: 70px !important; }
.spacing-40 { padding-top: 40px; }

.center{
	text-align:center;
	}

.btn-trans{
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 900;
  color: #fff;
  text-align: center;
  border: 1px solid #646464 !important;
  border-radius: 6px;

	}
	
.btn-trans:hover{
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 900;
  color: #000;
  text-align: center;
  border: 1px solid #646464 !important;
  border-radius: 6px;
	background: #fff;
	}

.btn-action {
  background: #6e6e6e;
  border-radius: 0;
  color: #fff !important;
  font-size: 1.3em;
  margin: 20px auto 10px auto;
  padding: 10px 30px;
  text-transform: uppercase;
}

.btn-action:hover {
  background: #DE6262;
  color: #fff;
}

.mb0{
	margin-bottom: 0px !important;
	}

	.cta {
    font-size: 34px;
    line-height: 38px;
    font-family: 'Old Standard TT', 'baskerville', serif;
    font-style: italic;
    margin: 40px 0;
	text-align: center;
}

.cta a {
    color: #f16162;
}
	
.jumpDown{
	  text-align: center;
	}

.btn-jump { background:#71AC93; border-radius: 0; color: #fff; font-size: 19px; font-weight:700;margin: 25px auto 10px auto; padding: 7px 20px; border-radius:5px; position: relative; }
.btn-jump:after { top: 100%; left: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(113, 172, 147, 0); border-top-color: #71AC93; border-width: 8px; margin-left: -8px; }

/* Bootstrap 5 columns */
.col-xs-15, .col-sm-15, .col-md-15, .col-lg-15 {    position: relative;    min-height: 1px;    padding-right: 10px;    padding-left: 10px;}

/* Forms */
input[type="text"].form-control, input[type="password"].form-control, input[type="date"].form-control, input[type="datetime"].form-control, input[type="email"].form-control, input[type="number"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="time"].form-control, input[type="url"].form-control { font-size: 18px; height: 55px; padding: 5px 15px; width: 100%; }
textarea.form-control { font-size: 18px;padding: 15px; width: 100%; }
select.form-control { font-size: 18px; height: 55px; padding: 5px 15px; width: 100%; }
button[type="submit"] { background: #515151; border: 0; border-bottom-left-radius: 0; border-bottom-right-radius: 5px; border-radius: 4px; border-top-left-radius: 0; border-top-right-radius: 5px; color: #fff; cursor: pointer; float: left; font-size: 16px; font-weight: 900; height: 55px; padding: 8px 6px 6px; text-transform: uppercase; width: 100%; }
button[type="submit"]:hover { background: #646464; }
input[type="text"].form-control:focus, input[type="password"].form-control:focus, input[type="date"].form-control:focus, input[type="datetime"].form-control:focus, input[type="email"].form-control:focus, input[type="number"].form-control:focus, input[type="search"].form-control:focus, input[type="tel"].form-control:focus, input[type="time"].form-control:focus, input[type="url"].form-control:focus, textarea.form-control:focus, select:focus { box-shadow: none; }

/* Breadcrumbs */
.breadcrumbs {box-shadow: inset 4px 104px 93px -18px rgba(76, 116, 110, 0.34); moz-box-shadow: inset 4px 104px 93px -18px rgba(76, 116, 110, 0.34); padding: 22px 0; webkit-box-shadow: inset 4px 104px 93px -18px rgba(76, 116, 110, 0.34); margin-bottom: 75px; }
.breadcrumbs h1 { color: #fff; font-size: 23px; margin: 0; padding: 0; }
ol.breadcrumb { background: transparent; border-radius: 0; color: #fff; float: right; margin: 0; padding: 6px 0 0; }
ol.breadcrumb li:first-child { color: #fff; font-size: 15px; font-weight: normal; }
ol.breadcrumb li.active { color: #fff; font-size: 15px; font-weight: bold; }
ol.breadcrumb li a { color: #fff; font-size: 15px; }
ol.breadcrumb li a:hover { color: #4c746e; }
ol.breadcrumb > li + li:before { color: #fff; content: "\f105"; font-family: "fontawesome"; font-weight: normal; padding: 0 5px; }
ol.breadcrumb > li:first-child + li:before { content: ""; padding: 0 3px 0 0; }
.breadcrumbs.solid{background: #84c7a6;}
/* End of Breadcrumbs */


/* ============
	2 = Header
============ */
.top { background: #fff;  }
.top.sticky { box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3); position: fixed; width: 100%; z-index: 99999; }
.logo {padding:15px 0; }

/* Navigation  ---------------------- */
nav#desktop-menu {  padding: 0; float:right; text-align: left; }

/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {  margin: 0;  padding: 0;  list-style: none;}
.sf-menu li {  position: relative;}
.sf-menu ul {  position: absolute;  display: none;  top: 100%;  left: 0;  z-index: 99;}
.sf-menu > li {  float: left;}
.sf-menu li:hover > ul, .sf-menu li.sfHover > ul {  display: block;}
.sf-menu a {  display: block;  position: relative;}
.sf-menu ul ul {  top: 0;  left: 100%;}

/*** SKIN ***/
.sf-menu {  float: left;  margin: 0;}
.sf-menu ul {  min-width: 12em; *width: 12em; -webkit-box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 0.2);
box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 0.2);}
/* 1st level */
.sf-menu li {  white-space: nowrap;   *white-space: normal;}
.sf-menu li a {border-right: 1px solid #e8e8e8; color: #6f6f6f; font-weight: 300; letter-spacing: .1em; padding: 46px 25px; text-transform: uppercase }
.sf-menu li:first-child a {border-left: 1px solid #e8e8e8;  }
.sf-menu li:hover a, .sf-menu li.sfHover a, .sf-menu li.current a  { background: #ededed; color: #6f6f6f;  -webkit-transition: none;  transition: none;}
/* 2nd level */
.sf-menu ul li, .sf-menu li.current ul li{background:#fff!important; }
.sf-menu ul li a {border-bottom: 1px solid #e8e8e8; background:#fff!important; font-size: 14px; font-weight: 300; letter-spacing: .04em; padding: 13px 20px 10px;}
.sf-menu ul li:hover a, .sf-menu ul li.sfHover a  { background: #ededed!important; color: #6f6f6f;  -webkit-transition: none;  transition: none;}
/* 3rd level */
.sf-menu ul li.sfHover li a {background:#fff!important; }
.sf-menu ul li li:hover a, .sf-menu ul li li.sfHover a  { background: #ededed!important; color: #6f6f6f;  -webkit-transition: none;  transition: none;}
/* styling for both css and generated arrows */
.sf-arrows .sf-with-ul {  padding-right: 2.5em;  *padding-right: 1em; }
.sf-arrows .sf-with-ul:after {  content: '';  position: absolute;  top: 50%;  right: 1em;  margin-top: -3px;  height: 0;  width: 0;  border: 5px solid transparent;  border-top-color: #999; }
.sf-arrows > li > .sf-with-ul:focus:after, .sf-arrows > li:hover > .sf-with-ul:after, .sf-arrows > .sfHover > .sf-with-ul:after {  border-top-color: #999; }
.sf-arrows ul .sf-with-ul:after {  margin-top: -5px;  margin-right: -3px;  border-color: transparent;  border-left-color: #6f6f6f;  }
.sf-arrows ul li > .sf-with-ul:focus:after, .sf-arrows ul li:hover > .sf-with-ul:after, .sf-arrows ul .sfHover > .sf-with-ul:after {  border-left-color: #999;}
.slicknav_menu {  display:none;}

/* ===============
	3 = Home Page
=============== */

/* Tab Slider */
#mainslider .item { color: #fff; margin: 0; padding: 0; position: relative; text-align: center; }
#mainslider .item .slidecaption { left: 1%; position: absolute; right: 1%; text-align: center; top: 23%; }
#mainslider .item .slidecaption h2 { color: #7dd5c9; font-size: 3.5em; text-shadow: -1px 1px 0 #2d2d2f; }
#mainslider .item .slidecaption h4 { color: #fff; font-size: 2em; font-weight: 300; margin-top: 25px; text-shadow: -1px 1px 0 #2d2d2f; }
#mainslider .item .slidecaption .btn-slide { background: #DE6262;  border-radius:0; color: #fff; color: #fff; font-size: 19px; font-weight:400; margin: 25px auto 10px auto; padding: 7px 20px; }
#mainslider .item .slidecaption .btn-slide:hover { background: #C65858; }
#mainslider-nav { border-bottom: 1px solid #ccc; border-left: 1px solid #ccc; }
#mainslider-nav .item { background: #fff; border-right: 1px solid #ccc; color: #999; cursor: pointer; font-size: 14px; font-weight: 500; letter-spacing: .07em; margin: 0; padding: 22px 0px; text-align: center; }
#mainslider-nav .item i { color: #999; font-size: 25px; padding-right: 10px; vertical-align: middle; }
#mainslider-nav .synced .item { background: #7dd5c9; color: #222; }
#mainslider-nav .synced .item i { color: #222; }
/* End of Tab Slider */

/* Features */
.features { overflow: hidden; padding: 75px 0; }
.features h1 { font-weight: 900; margin-bottom: 12px; text-align: center; }
.features span { display: block; font-size: 18px; font-weight: 300; text-align: center; }
.feature { text-align: center; }
.feature img { margin: 0 auto; }
.feature i { font-size:58px; color:#DE6262; }
.feature h4 { font-weight: 500; margin-top: 30px; }
.feature p { font-size: 17px; font-weight: 300; margin: 18px 0 0; padding: 0 40px; }
/* End of Features */

/* Call to Action */
.calltoaction { background: url(/images/ctabg.png); overflow: hidden; padding: 75px 0 !important; }
.cta-content { background: #C65858; }
.cta-content [class*='col-']:first-child { background: #DE6262; }
.offer { padding: 12px 0; text-align: center; }
.offer span { color: #5d2a2a; font-size: 18px; font-weight: 300; margin: 0; padding: 0; }
.offer h2 { color: #883e3e; font-size: 69px; font-weight: 900; letter-spacing: -.09em; line-height: .9; margin: 0; padding: 0 0 5px; }
.offerdescription { padding: 12px 35px; }
.offerdescription h2 { color: #fff; font-size: 44px \9; font-size: 54px; font-weight: 900; letter-spacing: -.07em; margin: 0; padding: 6px 0; }
.offerdescription p { color: #5d2a2a; font-size: 21px; font-weight: 300; margin: 0; }
.domainsearch { background: #4d4d4d; background: rgba(0, 0, 0, .2); border-radius: 6px; margin-top: 25px; padding: 20px; }
.domainsearch .form-control { width: 100%; }
.domainsearch input[type="text"].form-control { border-bottom-left-radius: 5px; border-bottom-right-radius: 0; border-top-left-radius: 5px; border-top-right-radius: 0; font-size: 18px; height: 55px; padding: 5px 15px; width: 100%; }
.domainsearch select.form-control { border-radius: 0; font-size: 18px; height: 55px; padding: 5px 15px; width: 100%; }
.domainsearch button[type="submit"] { background: #515151; border: 0; border-bottom-left-radius: 0; border-bottom-right-radius: 5px; border-radius: 4px; border-top-left-radius: 0; border-top-right-radius: 5px; color: #fff; cursor: pointer; float: left; font-size: 16px; font-weight: 900; height: 55px; padding: 8px 6px 6px; text-transform: uppercase; width: 100%; }
.domainsearch button[type="submit"]:hover { background: #646464; }
.domainsearch input[type="text"]:focus, .domainsearch select:focus { border: 0; box-shadow: 0 8px 6px -6px #000; }
/* End of Call to Action */


/* ==============================
	5 = Shared Hosting Page
============================== */

/* Choose Price Period */
span.chooseprice { background: #DE6262; border-radius: 6px; color: #fff; display: table; font-size: 16px; margin: 0 auto; margin-top: 30px; padding: 5px 20px; position: relative; }
span.chooseprice:after { border: solid transparent; border-color: rgba(222, 98, 98, 0); border-top-color: #DE6262; border-width: 10px; content: " "; height: 0; left: 50%; margin-left: -10px; pointer-events: none; position: absolute; top: 100%; width: 0; }
.btn-group.price-per-period { display: table; margin: 0 auto; margin-top: 30px; text-align: center; }
.btn-group.price-per-period .btn { border-color: #e8e8e8; font-size: 16px; padding: 10px 15px 8px; }
.btn-shared-checked { background-color: #73ae95; border-color: #4cae4c; box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075); color: #fff; text-shadow: 0 -1px 0 rgba(0, 0, 0, .2); webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075); }
.btn-shared-checked:hover, .btn-shared-checked:focus, .btn-shared-checked.focus, .btn-shared-checked:active, .btn-shared-checked.active { background-color: #73ae95; border-color: #398439; box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125); color: #fff; webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125); }
.btn-shared-checked:active, .btn-shared-checked.active { background-image: none; }
/* End of Choose Price Period */

/* Pricing Tables */
.pricingtables .hostingfeatures .panel, .pricingtables .hostingfeatures .panel-heading, .pricingtables .hostingfeatures .panel-body, .pricingtables .hostingfeatures .panel-footer { background: transparent; border: 0; box-shadow: none; }
.pricingtables .hostingfeatures ul { margin-top: 142px; }
.pricingtables.shared .hostingfeatures ul li { color: #fff; padding: 20px; }
.pricingtables.shared .hostingfeatures ul li a { color: #fff; }
.pricingtables.shared .hostingfeatures ul li:nth-child(odd) { background: #41444a; }
.pricingtables.shared .hostingfeatures ul li:nth-child(even) { background: #36393d; }
.pricingtables.shared .most-popular { border-width: 3px; box-shadow: 20px 0 20px -10px rgba(0, 0, 0, .15), -20px 0 20px -10px rgba(0, 0, 0, .15); padding: 0; top: 0; z-index: 2; }
.pricingtables.shared h4 { color: #fff; }
.pricingtables.shared ul li i { color: #72ac94; }
.pricingtables.shared ul li i.fa-times { color: #DE6262; }
.pricingtables.shared .most-popular .panel-heading { background: #C65858; }
.pricingtables.shared .most-popular .panel-body { background: #DE6262; }
.pricingtables.shared .most-popular h4 { color: #fff; }
.pricingtables.shared .most-popular .panel-body span.per { background: #C65858; }
.pricingtables.shared .most-popular ul li { font-size: 16px; padding: 20px 0; }
.pricingtables.shared .most-popular .btn-pricetable { margin: 10px auto; }
.yearprice, .twoyearprice { display: none; }
.tooltip { background: transparent; font-family: 'hind', sans-serif; }
.tooltip-inner { font-size: 14px; max-width: 150px; padding: 5px 8px; }
/* End Pricing Tables Shared Hosting Page */

/* Tabs Section - Shared Hosting Page */
.shared-features { background: #fff; overflow: hidden; padding: 45px 0 60px; }
.shared-features h2 { font-weight: 900; margin-bottom: 12px; text-align: center; }
.shared-features p { font-size: 17px; font-weight: 300; margin: 0 auto; text-align: center; }
.r-tabs .r-tabs-nav { display: table; margin: 0 auto; padding: 0; text-align: center; }
.r-tabs .r-tabs-tab { float: left; list-style: none!important; margin: 0; }
.r-tabs .r-tabs-panel { display: none; padding: 15px; }
.r-tabs .r-tabs-accordion-title { display: none; }
.r-tabs .r-tabs-panel.r-tabs-state-active { display: block; }
.r-tabs { background-color: #fff; border: 0; position: relative; }
.r-tabs .r-tabs-nav .r-tabs-tab { background: #efeff2; border-right: 1px solid #fff; font-size: 14px; margin: 0; position: relative; }
.r-tabs .r-tabs-nav .r-tabs-tab:first-child { border-left: 1px solid #fff; }
.r-tabs .r-tabs-nav .r-tabs-anchor { color: #7a7c89; float: left; font-weight: normal; margin: 0; padding: 12px 20px 10px; text-decoration: none; }
.r-tabs .r-tabs-nav .r-tabs-state-disabled { opacity: 0.5; }
.r-tabs .r-tabs-nav .r-tabs-state-active .r-tabs-anchor { background: #DE6262; color: #fff; }
.r-tabs .r-tabs-panel { border-bottom: 4px solid #e8e8e8; border-left: 1px solid #e8e8e8; border-radius: 4px; border-right: 1px solid #e8e8e8; border-top: 1px solid #e8e8e8; padding: 20px 25px 35px; }
.r-tabs .r-tabs-accordion-title .r-tabs-anchor { background: #efeff2; border: 1px solid #e4e7f0; color: #222; display: block; font-size: 14px; padding: 10px; }
.r-tabs .r-tabs-accordion-title.r-tabs-state-active .r-tabs-anchor { background: #DE6262; color: #fff; text-shadow: none; }
.r-tabs .r-tabs-accordion-title.r-tabs-state-disabled { opacity: 0.5; }
#shared-hosting-tabs .r-tabs-panel { margin-top: 120px!important; }
#shared-hosting-tabs .centralicon { display: table; margin: 0 auto; margin-top: -90px; text-align: center; }
#shared-hosting-tabs .centralicon img { border: 10px solid #e1e3e4; border-radius: 100%; }
#shared-hosting-tabs #feature1 h5, #shared-hosting-tabs #feature5 h5 { font-size: 25px; line-height: 1.3; margin-bottom: 17px; text-align: left; }
#shared-hosting-tabs #feature1 p, #shared-hosting-tabs #feature5 p { padding-left: 0; padding-roght: 0; text-align: left; }
#shared-hosting-tabs h5 { font-size: 25px; line-height: 1.3; margin-bottom: 17px; text-align: center; }
#shared-hosting-tabs p { padding: 0 40px; text-align: center; }
#shared-hosting-tabs .tabfeatures { margin-top: 40px; text-align: center; }
#shared-hosting-tabs .tabfeatures img { margin: 0 auto; text-align: center; }
#shared-hosting-tabs .tabfeatures p { padding: 0; }
#shared-hosting-tabs h6 { font-size: 18px; line-height: 1.3; padding: 17px 0 6px; }
#shared-hosting-tabs #feature1, #shared-hosting-tabs #feature2, #shared-hosting-tabs #feature3, #shared-hosting-tabs #feature4, #shared-hosting-tabs #feature5 { transition: all ease-out 0.2s 0.1s;}
.supportchannels { display: table; margin: 0 auto; margin-top: 45px; text-align: center; }
.supportchannels .block-grid-item { padding: 0 45px; }
.supportchannels .block-grid-item i { background: #73ae95; border: 6px solid #e1e3e4; border-radius: 50%; color: #fff; font-size: 38px; height: 90px; padding: 20px 0 0 0; text-align: center; transition: all 0.4s ease; webkit-transition: all 0.4s ease; width: 90px; }
.supportchannels .block-grid-item i:hover { background: #DE6262; transform: scale(1.3); webkit-transform: scale(1.3); }
/* End Tabs Section - Shared Hosting Page */



/* ==============================
	7 = Dedicated servers
============================== */

/* Pricing Tables - Dedicated servers Page */
.pricingtables.servers { background: #fff; overflow: hidden; padding: 45px 0; }
.pricingtables.servers .panel { border: 0; border-radius: 0; margin: 0; padding: 0; box-shadow: none }
.pricingtables.servers .panel-heading { background: #fff; border: 0; border-radius: 0; filter: none !important; border-bottom:1px solid #BBB; }
.pricingtables.servers .panel-heading h3 { color: #555; font-size: 35px; font-weight: 700; letter-spacing: -.07em; margin: 0; padding: 12px 0; }
.pricingtables.servers h4 { color:#A6C3C4; font-size: 59px; letter-spacing: -.07em; margin: 0; padding: 0 0 10px; text-align: center; }
.pricingtables.servers .panel-body { background: #fff; margin: 0; padding: 10px 0 15px; }
.pricingtables.servers .panel-body span { color: #555; font-size: 11px; margin: 0 auto; padding: 5px 10px; }
.pricingtables.servers .panel-body span.per { background: #F0F0F0; padding: 5px 10px 2px; }
.pricingtables.servers ul { border: 0; list-style: none; margin: 0; padding: 0; }
.pricingtables.servers ul li:first-child { border-top:1px solid #E6E6E6;  }
.pricingtables.servers ul li { background: #fff; border-bottom:1px solid #E6E6E6; font-size: 15px; padding: 10px 0;}
.pricingtables.servers .panel-footer { text-align: center; background:#fff; border:0; }
.pricingtables.servers .btn-pricetable { background: #DE6262; border-radius: 0; color: #fff; font-size:13px; margin: 10px auto; padding: 7px 10px 5px; font-weight:700; }
.pricingtables.servers .btn-pricetable:hover { background: #C65858; }
/* End of Pricing Tables - Dedicated servers Page */

/* Responsive Table - Dedicated servers Page */
.servers-table {background: #fff; overflow: hidden; padding: 45px 0; }
.products-table {min-width:100%; border:1px solid #DFE0E5; font-family: 'hind', sans-serif; background: #F7F7F7;}
.products-table thead th {background:#F2F3F6; color:#6E6E6E!important; font-weight:700;  font-size:13px; font-weight:bold; border-left:1px solid #DFE0E5; border-right:1px solid #DFE0E5; border-bottom:1px solid #DFE0E5;}
.products-table th {font-weight: normal;    -webkit-font-smoothing: antialiased;   padding:16px 12px; color: #6E6E6E;   font-size: 15px; background: #fff; }
.products-table td {color: #6E6E6E;    padding:16px 12px; font-size: 15px; border-bottom:1px solid #DFE0E5;}
.products-table td:last-child, .products-table thead th:last-child {text-align: center;}
.products-table tr.even, .products-table tr.alt, .products-table tr:nth-of-type(even) {  background: #fff!important; }
.products-table td span {background:#DE6262; padding:3px 7px 5px; margin:0 auto; display: block}
.products-table td span:hover {background:#282828;}
.products-table td span a{color:#fff; font-size: 12px }
.products-table td span a:hover{text-decoration: none}
/* End of Responsive Table - Dedicated servers Page */

/* ==============================
	Domæner
============================== */
.domains {background: url(/images/banners/header_alt-3_bg.jpg) bottom center no-repeat; padding:45px 0; min-height: 650px;}
.domains h2 {color:#fff; text-align: center;}
.domains p {color:#fff; text-align: center; font-size:18px;}
.domains hr.small{border: solid #fff;
  border-width: 1px 0 0;}
.domainsearch-full {background: #666; border-radius: 0;padding: 20px; }
.domainsearch-full .form-control { width: 100%; }
.domainsearch-full input[type="text"].form-control { border-bottom-left-radius: 5px; border-bottom-right-radius: 0; border-top-left-radius: 5px; border-top-right-radius: 0; font-size: 18px; height: 55px; padding: 5px 15px; width: 100%; }
.domainsearch-full select.form-control { border-radius: 0; font-size: 18px; height: 55px; padding: 5px 15px; width: 100%; }
.domainsearch-full button[type="submit"] { background: #515151; border: 0; border-bottom-left-radius: 0; border-bottom-right-radius: 5px; border-radius: 4px; border-top-left-radius: 0; border-top-right-radius: 5px; color: #fff; cursor: pointer; float: left; font-size: 16px; font-weight: 900; height: 55px; padding: 8px 6px 6px; text-transform: uppercase; width: 100%; }
.domainsearch-full button[type="submit"]:hover { background: #646464; }
.domainsearch-full input[type="text"]:focus, .domainsearch-full select:focus { border: 0; box-shadow: 0 8px 6px -6px #000; }

#domainextensions {margin-top:10px;}
#domainextensions .item { margin: 0 3px;}
#domainextensions .item .extension { padding:10px 20px; font-size:16px; font-weight:900; color:#fff; text-align:center; border:1px solid #646464; border-radius:6px; }
.domainfeatures { background: #efefef; padding:45px 0;}
.domainfeatures h2 { font-weight: 700; margin-bottom: 12px; text-align: center; }
.domainfeatures p { font-size: 17px; font-weight: 300; margin: 18px 0 0; text-align: center; padding:0 30px;}
.domainfeatures h6 { font-size:18px; color: #DE6262; font-weight: 700; letter-spacing: .07em; border: 2px solid #DE6262; margin:0 auto; padding:15px 25px; display: table; text-align: center; }

.domainfeatures .panel {border:0; box-shadow:0; }
.domainfeatures .panel-heading {border-left:5px solid #C65858!important; box-shadow:0; background:#DE6262; color:#fff; border-radius:0!important; padding:12px; }
.domainfeatures .panel-heading h4.panel-title {font-size:14px; font-weight:normal; line-height: 1.3; color:#fff; color:#6E6E6E\9\0;}
.domainfeatures .panel-heading h4.panel-title a:hover, .domainfeatures .panel-heading h4.panel-title a:focus {color:#fff; color:#6E6E6E\9\0;}
.domainfeatures .panel-body {padding:15px; margin:0;}
.domainfeatures .panel-body p {text-align: left; font-size:15px; padding:0; margin:0;}

.domainfeatures.white { background: #fff;}

.prices{
margin-top: 25px;
}

.prices-popular {
  display: block;
  padding: 0;
  margin: 0 -0.625rem;
  list-style: none;
    font-size: 1rem;
  line-height: 1.6;
  list-style:none;
  list-style-position: outside;
  font-family: inherit;
}

.prices-popular .panel{
  border-style: solid;
  border-width: 1px;
  border-color: #d8d8d8;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  background: #f7f7f7;
  border-radius: 4px;
}

.prices-secondary{
padding: 0;
  margin: 0;
  list-style: none;
}

.prices-secondary li {
  background: #F5F5F5;
  padding: 10px 10px 5px 10px;
  margin-bottom: 5px;
  border-radius: 3px;
  font-size: 14px;
  text-align: left;
}

.prices-secondary .label{
  text-align: center;
  text-decoration: none;
  line-height: 1;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  margin-bottom: inherit;
    background: #B6514E;
  border-radius: 4px;
  padding: 3px 5px;
  color: #fff;
  margin-right: 5px;
  font-size: 14px;
  font-weight: 600;
}

/* ==============================
	9 = Hosted Exchange
============================== */

.hosted-exchange {
  background: url(/images/banners/header_alt-4_bg.jpg) bottom center no-repeat;
  padding: 45px 0;
  min-height: 540px;
}

.hosted-exchange  h2 {color:#fff; text-align: center;}
.hosted-exchange  p {color:#fff; text-align: center; font-size:18px;}
.hosted-exchange  hr.small{border: solid #fff;
  border-width: 1px 0 0;}
  
.hosted-exchange-quote {background:url(/images/quote-image.jpg);background-size:   cover;    background-repeat: no-repeat;    background-position: center center; }
.hosted-exchange-quote-column {background:#DE6262;}
.hosted-exchange-quote.odd {background:url(/images/quote-image2.jpg); background-size:   cover;    background-repeat: no-repeat;    background-position: center center;}
.hosted-exchange-quote2-column {background:#71AB93;}
.thequote {padding:90px;}
.hosted-exchange-quote h5 {color:#fff; font-size:41px; letter-spacing: -.07em; font-weight: 400; margin-bottom:50px; }
.hosted-exchange-quote span{color:#fff; font-size:18px; text-transform: uppercase; letter-spacing: .07em;}

/* ==============================
	9 = Site monitorering
============================== */

.site-monitorering {
  background: url(/images/banners/header_alt-5_bg.jpg) bottom center no-repeat;
  padding: 45px 0;
  min-height: 540px;
}

.site-monitorering  h2 {color:#fff; text-align: center;}
.site-monitorering  p {color:#fff; text-align: center; font-size:18px;}
.site-monitorering  hr.small{border: solid #fff;
  border-width: 1px 0 0;}
  
.site-monitorering-quote {background:url(/images/quote-image.jpg);background-size:   cover;    background-repeat: no-repeat;    background-position: center center; }
.site-monitorering-quote-column {background:#DE6262;}
.site-monitorering-quote.odd {background:url(/images/quote-image2.jpg); background-size:   cover;    background-repeat: no-repeat;    background-position: center center;}
.site-monitorering-quote2-column {background:#71AB93;}
.thequote {padding:90px;}
.site-monitorering-quote h5 {color:#fff; font-size:41px; letter-spacing: -.07em; font-weight: 400; margin-bottom:50px; }
.site-monitorering-quote span{color:#fff; font-size:18px; text-transform: uppercase; letter-spacing: .07em;}

/* ==============================
	9 = Site monitorering
============================== */

.website {
  background: url(/images/banners/header_alt-2_bg.jpg) bottom center no-repeat;
  padding: 45px 0;
  min-height: 540px;
}

.website  h2 {color:#fff; text-align: center;}
.website  p {color:#fff; text-align: center; font-size:18px;}
.website  hr.small{border: solid #fff;
  border-width: 1px 0 0;}
  
.website-quote {background:url(/images/quote-image.jpg);background-size:   cover;    background-repeat: no-repeat;    background-position: center center; }
.website-quote-column {background:#DE6262;}
.website-quote.odd {background:url(/images/quote-image2.jpg); background-size:   cover;    background-repeat: no-repeat;    background-position: center center;}
.website-quote2-column {background:#71AB93;}
.thequote {padding:90px;}
.website-quote h5 {color:#fff; font-size:41px; letter-spacing: -.07em; font-weight: 400; margin-bottom:50px; }
.website-quote span{color:#fff; font-size:18px; text-transform: uppercase; letter-spacing: .07em;}


/* ==============================
	9 = eCommerce
============================== */

.eCommerce {
  background: url(/images/banners/header_alt-3_bg.jpg) bottom center no-repeat;
  padding: 45px 0;
  min-height: 540px;
}

.eCommerce  h2 {color:#fff; text-align: center;}
.eCommerce  p {color:#fff; text-align: center; font-size:18px;}
.eCommerce  hr.small{border: solid #fff;
  border-width: 1px 0 0;}
  
.eCommerce-quote {background:url(/images/quote-image.jpg);background-size:   cover;    background-repeat: no-repeat;    background-position: center center; }
.eCommerce-quote-column {background:#DE6262;}
.eCommerce-quote.odd {background:url(/images/quote-image2.jpg); background-size:   cover;    background-repeat: no-repeat;    background-position: center center;}
.eCommerce-quote2-column {background:#71AB93;}
.thequote {padding:90px;}
.eCommerce-quote h5 {color:#fff; font-size:41px; letter-spacing: -.07em; font-weight: 400; margin-bottom:50px; }
.eCommerce-quote span{color:#fff; font-size:18px; text-transform: uppercase; letter-spacing: .07em;}

/* ==============================
	9 = Mobil
============================== */

.mobil {
  background: url(/images/banners/header_alt-1_bg.jpg) bottom center no-repeat;
  padding: 45px 0;
  min-height: 540px;
}

.mobil  h2 {color:#fff; text-align: center;}
.mobil  p {color:#fff; text-align: center; font-size:18px;}
.mobil  hr.small{border: solid #fff;
  border-width: 1px 0 0;}
  
.mobil-quote {background:url(/images/quote-image.jpg);background-size:   cover;    background-repeat: no-repeat;    background-position: center center; }
.mobil-quote-column {background:#DE6262;}
.mobil-quote.odd {background:url(/images/quote-image2.jpg); background-size:   cover;    background-repeat: no-repeat;    background-position: center center;}
.mobil-quote2-column {background:#71AB93;}
.thequote {padding:90px;}
.mobil-quote h5 {color:#fff; font-size:41px; letter-spacing: -.07em; font-weight: 400; margin-bottom:50px; }
.mobil-quote span{color:#fff; font-size:18px; text-transform: uppercase; letter-spacing: .07em;}

/* ==============================
	9 = Mobil
============================== */

.geek-partner {
  background: url(/images/banners/header_alt-2_bg.jpg) bottom center no-repeat;
  padding: 45px 0;
  min-height: 540px;
}

.geek-partner  h2 {color:#fff; text-align: center;}
.geek-partner  p {color:#fff; text-align: center; font-size:18px;}
.geek-partner  hr.small{border: solid #fff;
  border-width: 1px 0 0;}
  
.geek-partner-quote {background:url(/images/quote-image.jpg);background-size:   cover;    background-repeat: no-repeat;    background-position: center center; }
.geek-partner-quote-column {background:#DE6262;}
.geek-partner-quote.odd {background:url(/images/quote-image2.jpg); background-size:   cover;    background-repeat: no-repeat;    background-position: center center;}
.geek-partner-quote2-column {background:#71AB93;}
.thequote {padding:90px;}
.geek-partner-quote h5 {color:#fff; font-size:41px; letter-spacing: -.07em; font-weight: 400; margin-bottom:50px; }
.geek-partner-quote span{color:#fff; font-size:18px; text-transform: uppercase; letter-spacing: .07em;}

/* ==============================
	9 = Google analytics
============================== */

.google-analytics {
  background: url(/images/banners/header_alt-4_bg.jpg) bottom center no-repeat;
  padding: 45px 0;
  min-height: 540px;
}

.google-analytics  h2 {color:#fff; text-align: center;}
.google-analytics  p {color:#fff; text-align: center; font-size:18px;}
.google-analytics  hr.small{border: solid #fff;
  border-width: 1px 0 0;}
  
.google-analytics-quote {background:url(/images/quote-image.jpg);background-size:   cover;    background-repeat: no-repeat;    background-position: center center; }
.google-analytics-quote-column {background:#DE6262;}
.google-analytics-quote.odd {background:url(/images/quote-image2.jpg); background-size:   cover;    background-repeat: no-repeat;    background-position: center center;}
.google-analytics-quote2-column {background:#71AB93;}
.thequote {padding:90px;}
.google-analytics-quote h5 {color:#fff; font-size:41px; letter-spacing: -.07em; font-weight: 400; margin-bottom:50px; }
.google-analytics-quote span{color:#fff; font-size:18px; text-transform: uppercase; letter-spacing: .07em;}

/* ==============================
	9 = Design & UX
============================== */

.design-ux {
  background: url(/images/banners/header_alt-5_bg.jpg) bottom center no-repeat;
  padding: 45px 0;
  min-height: 540px;
}

.design-ux  h2 {color:#fff; text-align: center;}
.design-ux  p {color:#fff; text-align: center; font-size:18px;}
.design-ux  hr.small{border: solid #fff;
  border-width: 1px 0 0;}
  
.design-ux-quote {background:url(/images/quote-image.jpg);background-size:   cover;    background-repeat: no-repeat;    background-position: center center; }
.design-ux-quote-column {background:#DE6262;}
.design-ux-quote.odd {background:url(/images/quote-image2.jpg); background-size:   cover;    background-repeat: no-repeat;    background-position: center center;}
.design-ux-quote2-column {background:#71AB93;}
.thequote {padding:90px;}
.design-ux-quote h5 {color:#fff; font-size:41px; letter-spacing: -.07em; font-weight: 400; margin-bottom:50px; }
.design-ux-quote span{color:#fff; font-size:18px; text-transform: uppercase; letter-spacing: .07em;}

/* ==============================
	9 = Print design
============================== */

.print-design {
  background: url(/images/banners/header_alt-1_bg.jpg) bottom center no-repeat;
  padding: 45px 0;
  min-height: 540px;
}

.print-design  h2 {color:#fff; text-align: center;}
.print-design  p {color:#fff; text-align: center; font-size:18px;}
.print-design  hr.small{border: solid #fff;
  border-width: 1px 0 0;}
  
.print-design-quote {background:url(/images/quote-image.jpg);background-size:   cover;    background-repeat: no-repeat;    background-position: center center; }
.print-design-quote-column {background:#DE6262;}
.print-design-quote.odd {background:url(/images/quote-image2.jpg); background-size:   cover;    background-repeat: no-repeat;    background-position: center center;}
.print-design-quote2-column {background:#71AB93;}
.thequote {padding:90px;}
.print-design-quote h5 {color:#fff; font-size:41px; letter-spacing: -.07em; font-weight: 400; margin-bottom:50px; }
.print-design-quote span{color:#fff; font-size:18px; text-transform: uppercase; letter-spacing: .07em;}

/* ==============================
	9 = Visuel identitet
============================== */

.visuel-identitet {
  background: url(/images/banners/header_alt-3_bg.jpg) bottom center no-repeat;
  padding: 45px 0;
  min-height: 540px;
}

.visuel-identitet  h2 {color:#fff; text-align: center;}
.visuel-identitet  p {color:#fff; text-align: center; font-size:18px;}
.visuel-identitet  hr.small{border: solid #fff;
  border-width: 1px 0 0;}
  
.visuel-identitet-quote {background:url(/images/quote-image.jpg);background-size:   cover;    background-repeat: no-repeat;    background-position: center center; }
.visuel-identitet-quote-column {background:#DE6262;}
.visuel-identitet-quote.odd {background:url(/images/quote-image2.jpg); background-size:   cover;    background-repeat: no-repeat;    background-position: center center;}
.visuel-identitet-quote2-column {background:#71AB93;}
.thequote {padding:90px;}
.visuel-identitet-quote h5 {color:#fff; font-size:41px; letter-spacing: -.07em; font-weight: 400; margin-bottom:50px; }
.visuel-identitet-quote span{color:#fff; font-size:18px; text-transform: uppercase; letter-spacing: .07em;}

/* ==============================
	9 = Planner
============================== */

.visuel-identitet {
  background: url(/images/banners/header_alt-3_bg.jpg) bottom center no-repeat;
  padding: 45px 0;
  min-height: 540px;
}

.visuel-identitet  h2 {color:#fff; text-align: center;}
.visuel-identitet  p {color:#fff; text-align: center; font-size:18px;}
.visuel-identitet  hr.small{border: solid #fff;
  border-width: 1px 0 0;}

/*Planner*/
.inputPlanner {
    max-width: 850px;
    margin-top: 25px;
}

    .inputPlanner .col-md-4 {
        text-align: left;
        padding-bottom: 10px;
    }

    .inputPlanner input[type=text], .inputPlanner input[type=password], .inputPlanner input[type=email] {
        border: 1px solid #c8d1d7;
        font-size: 24px;
        line-height: 44px;
        padding: 12px 15px;
        font-weight: 300;
        width: 100%;
        border-radius: 3px;
        display: block;
        margin-bottom: 25px;
        transition: border-color .2s ease-out,-webkit-box-shadow .2s ease-out;
    }

        .inputPlanner input[type=text]:focus, .inputPlanner textarea:focus, .inputPlanner input[type=password]:focus {
            outline: none !important;
            border: 1px solid #2e9c94 !important;
            box-shadow: 0 0 5px 0px #2e9c94 !important;
        }

    .inputPlanner textarea {
        border: 1px solid #c8d1d7;
        font-size: 14px;
        line-height: 24px;
        padding: 20px 15px;
        width: 100%;
        max-width: 100%;
        border-radius: 3px;
        height: 180px;
        transition: border-color .2s ease-out,-webkit-box-shadow .2s ease-out;
    }

    .inputPlanner #slider-snap {
        margin-top: 25px;
        width: 85%;
        margin: 0 auto;
    }

    .inputPlanner input[type=submit] {
        border: none !important;
        font-size: 24px;
        line-height: 44px;
        padding: 12px 15px;
        font-weight: 300;
        width: 100%;
        border-radius: 3px;
        display: block;
        margin-bottom: 25px;
        text-align: center;
        background-color: #2e9c94;
        font-weight: bold;
        color: #fff;
        margin-top: 25px;
        transition: all .2s ease-out;
    }

        .inputPlanner input[type=submit]:hover {
            background: #18BDB2;
        }


    .inputPlanner input[type=text]#budget {
        border: none !important;
        font-size: 30px;
        line-height: 44px;
        padding: 12px 15px;
        font-weight: 300;
        width: 100%;
        border-radius: 3px;
        display: block;
        margin-bottom: 25px;
        text-align: center;
        background-color: transparent;
        font-weight: bold;
        color: #eb6062;
        margin-top: 25px;
    }

        .inputPlanner input[type=text]#budget:focus {
            outline: none !important;
            border: none !important;
            box-shadow: none !important;
        }

.planner hr {
    height: 1px;
    background: #D8DEE2;
}

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}

    [type="checkbox"]:not(:checked) + label,
    [type="checkbox"]:checked + label {
        position: relative;
        padding-left: 40px;
        cursor: pointer;
        font-size: 20px;
        padding-top: 3px;
        margin-right: 20px;
    }

        /* checkbox aspect */
        [type="checkbox"]:not(:checked) + label:before,
        [type="checkbox"]:checked + label:before {
            content: '';
            position: absolute;
            left: 0;
            top: 2px;
            width: 25px;
            height: 25px;
            border: 1px solid #aaa;
            background: #f8f8f8;
            border-radius: 13px;
            box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
        }
        /* checked mark aspect */
        [type="checkbox"]:not(:checked) + label:after,
        [type="checkbox"]:checked + label:after {
            content: '✔';
            position: absolute;
            top: -7px;
            left: 4px;
            font-size: 28px;
            color: #eb6062;
            transition: all .2s;
        }
        /* checked mark aspect changes */
        [type="checkbox"]:not(:checked) + label:after {
            opacity: 0;
            transform: scale(0);
        }

        [type="checkbox"]:checked + label:after {
            opacity: 1;
            transform: scale(1);
        }
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
}

[type="checkbox"]:disabled:checked + label:after {
    color: #999;
}

[type="checkbox"]:disabled + label {
    color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
    border: 1px solid #aaa;
}

label:before {
    transition: border-color .2s ease-out,-webkit-box-shadow .2s ease-out;
}

/* hover style just for information */
label:hover:before {
    border: 1px solid #2e9c94 !important;
}


/* ==============================
	9 = Portfolio
============================== */

.portfolio {
  background: url(/images/banners/header_alt-3_bg.jpg) bottom center no-repeat;
  padding: 45px 0;
  min-height: 540px;
}

.portfolio  h2 {color:#fff; text-align: center;}
.portfolio  p {color:#fff; text-align: center; font-size:18px;}
.portfolio  hr.small{border: solid #fff;
  border-width: 1px 0 0;}
  
.portfolio-quote {background:url(/images/quote-image.jpg);background-size:   cover;    background-repeat: no-repeat;    background-position: center center; }
.portfolio-quote-column {background:#DE6262;}
.portfolio-quote.odd {background:url(/images/quote-image2.jpg); background-size:   cover;    background-repeat: no-repeat;    background-position: center center;}
.portfolio-quote2-column {background:#71AB93;}
.thequote {padding:90px;}
.portfolio-quote h5 {color:#fff; font-size:41px; letter-spacing: -.07em; font-weight: 400; margin-bottom:50px; }
.portfolio-quote span{color:#fff; font-size:18px; text-transform: uppercase; letter-spacing: .07em;}

.caselist{
	margin-bottom: 20px;
    overflow: hidden;
	padding: 0px;
}

.caselist li{
	float: left;
    display: block;
	visibility: hidden;
    position: relative;
	width: 30%;
    margin: 1.5%;
	overflow: hidden;
	
}

ul.caselist .case-top{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    width: 50%;
    padding: 50%;
    z-index: 5;
	    overflow: hidden;

}

ul.caselist li:hover .case-top{

}

ul.caselist li figure{
	    overflow: hidden;
}

ul.caselist figure.bottom-arrow{
position: absolute;
    width: 100%;
    top: 0;
    left: 0;	
}

ul.caselist li figure img{
    -o-transition: all 0.6s cubic-bezier(0.165, 0.840, 0.440, 1.000) 0ms;
    -ms-transition: all 0.6s cubic-bezier(0.165, 0.840, 0.440, 1.000) 0ms;
    -moz-transition: all 0.6s cubic-bezier(0.165, 0.840, 0.440, 1.000) 0ms;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.840, 0.440, 1.000) 0ms;
    transition: all 0.6s cubic-bezier(0.165, 0.840, 0.440, 1.000) 0ms;	
}

.caselist img {
    width: 100%;
    height: auto;
}

figure.bottom-arrow:after{
	left: 10%;
    top: auto;
    bottom: -1px;
    border: solid transparent;
    content: " ";
    position: absolute;
    pointer-events: none;
    border-bottom: 12px solid #EDEDED;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    z-index: 6;
    margin-left: -6px;
    -o-transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0ms;
    -ms-transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0ms;
    -moz-transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0ms;
    -webkit-transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0ms;
    transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0ms;
}

ul.caselist li:hover{
	cursor: pointer;
	}

ul.caselist li:hover figure img{
	    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

ul.caselist .case-desc{
	padding: 37px 7%;
    background: #EDEDED;
    overflow: hidden;
    height: 300px;
    color: #4e4e4e;
	border-radius: 0px 0px 6px 6px;
}

.case-services,.case-options{
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
	position: absolute;
	z-index: 2;
	text-align: center;
}

.case-options{
    background: #CCC;
    border-radius: 0 0 0 25px;
    display: inline-block;
    font-size: 25px;
    height: 50px;
    line-height: 50px;
    right: -100px;
    top: -100px;
    min-width: 50px;
	padding: 0 10px;
}

.case-services{
	bottom: -100px;
	left: 0;
	width: 100%;
}

.case-services li {
	width: auto !important;
    text-align: left;
    position: relative;
    display: inline-block;
    padding: 0 10px;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: jaf-bernina-sans-comp;	
}

.case-services li:after {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 4px;
    background: #fff;
    position: absolute;
    right: -2px;
    top: 10px;
}

.case-services li:last-child::after {
    content: "";
    width: 0px;
    height: 0px;
    border-radius: 0px;
    background: #fff;
    position: absolute;
    right: -2px;
    top: 10px;
}

.case-options a{
	float: left;
	margin-left: 5px;
    margin-right: 5px;
}

ul.caselist li:hover .case-options{
	right: 0;
    top: 0;
}

ul.caselist li:hover .case-services{
	bottom: 0;
	left: 0;
}

@media (max-width: 955px){
	.caselist li{
	width: 47%;
    margin: 1.5%;
	}
	
	.case-options{
	display: none;	
	}
}

@media (max-width: 699px){
	.caselist li{
	width: 100%;
	}
	
	.case-options{
	display: none;	
	}
}


/* ==============================
	9 = Bag om
============================== */
.about {background: url(/images/banners/header_alt-2_bg.jpg) bottom center no-repeat; padding:45px 0; min-height: 540px;}
.about h2 {color:#fff; text-align: center;}
.about p {color:#fff; text-align: center; font-size:18px;}
.about hr.small{border: solid #fff;
  border-width: 1px 0 0;}
.about-hero {
  position: relative;
  background: url(/images/banners/header_alt-1_bg.jpg) bottom center no-repeat; padding:45px 0; min-height: 580px;
}
.about-quote {background:url(/images/quote-image.jpg);background-size:   cover;    background-repeat: no-repeat;    background-position: center center; }
.about-quote-column {background:#DE6262;}
.about-quote.odd {background:url(/images/quote-image2.jpg); background-size:   cover;    background-repeat: no-repeat;    background-position: center center;}
.about-quote2-column {background:#71AB93;}
.thequote {padding:90px;}
.about-quote h5 {color:#fff; font-size:41px; letter-spacing: -.07em; font-weight: 400; margin-bottom:50px; }
.about-quote span{color:#fff; font-size:18px; text-transform: uppercase; letter-spacing: .07em;}

.ourclients {padding:45px 0; background:#EDEDED;}
.ourclients h3 {text-align: center;}
.ourclients p {text-align: center; font-size:18px;}
.clients .block-grid-item {text-align: center; padding:50px 20px; border:1px solid #d7d5d5; border-left:0; border-top:0; }
.clients .block-grid-item:nth-child(4n+4) { border-right:0;}
.clients .block-grid-item:nth-last-child(-n+4) {border-bottom:0;}
.testimonials {padding:45px 0; background:#fff;}
.testimonials.gray {background:#ededed;}
.testimonials h3 {text-align: center;}
.testimonials p {font-size:18px; text-align: center;}

.testimonial-content { padding:20px 0 0; text-align: center;}
.testimonial-content p {color:#6E6E6E; padding:25px 60px 5px; font-size:17px; text-align: center;}
.testimonial-content .whoclient h5 {font-size:14px; color:#6E6E6E; text-transform: uppercase; letter-spacing: .07em; margin-bottom:15px;}
.testimonial-content .whoclient h5 a {color:#DE6262; }
.testimonialimg {text-align: center;}
.testimonial-content img {  width: 160px;  height: 160px;  border-radius: 50%;  -webkit-border-radius:50%;  -moz-border-radius: 50%;}

#values{
	margin-top: 25px;
	}

#values .item {
  height: auto;
}
#valeus .item .wrap {
  max-width: 760px;
  min-height: 107px;
  margin: auto auto;
  position: relative;
}
#values .item .wrap span.valueNo {
  font-size: 80px;
  line-height: 80px;
  display: inline-block;
  position: absolute;
  left: 0;
  padding: 10px 0 0;
}
#values .item .wrap div {
  display: block;
  border-left: 1px solid #91a4af;
  margin-left: 125px;
  position: relative;
  padding: 0 0 0 45px;
  text-align: left;
}

#values .item .wrap div h4 {
  font-family: 'Old Standard TT', 'baskerville', serif;
  font-style: italic;
  color: #eb6062;
  font-size: 70px;
  line-height: 75px;
  margin: 0;
  display: block;
}

#values .item .wrap div p {
  text-align: left;
  font-size: 18px;
  line-height: 32px;
  font-weight: 300;
  margin: 0;
}

/* ==============================
	10 = FAQ
============================== */
.faq { overflow: hidden; padding: 45px 0 65px; background:#EDEDED;}
.faq h2 { font-weight: 900; margin-bottom: 12px; text-align: center; }
.faq p { font-size: 17px; font-weight: 300; text-align: center; }
.faq-questions {background:#fff; border:1px solid #C9C9C1; padding:0 15px 15px;}
.faq-questions h3.badge {border-radius:3px; padding:7px 12px; display:table; margin:0 auto; margin-top:-18px; font-size:18px;}
.faq .panel {border:0; box-shadow:0; }
.faq .panel-heading {border:0; box-shadow:0; background:#F2F2F2; color:#6E6E6E; border-radius:0!important; padding:12px; }
.faq .panel-heading h4.panel-title {font-size:14px; font-weight:normal; line-height: 1.3}
.faq .panel-body {padding:15px; margin:0;}
.faq .panel-body p {text-align: left; font-size:15px; padding:0; margin:0;}
.needsupport { padding: 0 0 45px; background:#fff;}
.needsupport h3.badge {border-radius:3px; padding:7px 12px; display:table; margin:0 auto; margin-top:-18px; font-size:18px;}
.needsupport h6 {margin-top:25px;}

/* ==============================
	12 = Datacenter
============================== */
.datacenter { background: #efefef; padding:45px 0 0; overflow:hidden;}
.datacenter h2 { font-weight: 700; margin-bottom: 12px; text-align: center; }
.datacenter p { font-size: 17px; font-weight: 300; margin: 18px 0 0; text-align: center; padding:0 30px;}
.datacenter-facilities { background: #e9e9e9; padding:60px 0 25px;  overflow:hidden;}
.datacenter-facilities .facility {    background: #E1DFE0;    border-bottom: 6px solid #c7c7c7;    float: left;    height: 250px;    position: relative; margin-bottom:40px;}
.datacenter-facilities .facility h3 {    border-bottom: 1px solid #c7c7c7;    margin: 45px 30px 22px;    padding-bottom: 25px;}
.datacenter-facilities .facility h3 .ficon {    background: #DE6262;    border-radius: 100%;    color: #fff;    display: inline-block;    font-size: 23px;    font-weight: 300;
height: 40px;    margin-right: 10px;    padding: 6px;    text-align: center;    width: 40px;}
.datacenter-facilities .facility h3 .title {    font-size: 20px;    font-weight: 400;}
.datacenter-facilities .facility p {    margin: 0 40px;}
.partners {background: #efefef; padding:45px 0}
#datacenter-partners .item{    margin: 3px; text-align: center   }
.datacenter-map {margin-top:55px;}

/* ==============================
	13 = Elements
============================== */
.elements { background: #fff; padding:20px 0 45px; overflow:hidden;}
h2.elements { font-weight: 700; margin: 30px 0; font-size:29px; text-align:center; border-bottom: 7px solid #ededed; padding-bottom:12px;}
.elements p { font-size: 17px; font-weight: 300; margin: 18px 0 0;}
.accordion-example .panel {border:0; box-shadow:0; }
.accordion-example .panel-heading {border:0; box-shadow:0; background:#F2F2F2; color:#6E6E6E; border-radius:0!important; padding:12px; }
.accordion-example.panel-heading h4.panel-title {font-size:14px; font-weight:normal; line-height: 1.3}
.accordion-example .panel-body {padding:15px; margin:0;}
.accordion-example .panel-body p {text-align: left; font-size:15px; padding:0; margin:0;}
.buttons-example {display:table; margin:0 auto;}
.elements .btn {margin-bottom:12px;}
.btn {text-shadow:none; border:0; }
.btn.no-radius {border-radius: 0}
.btn.btn-default {background:#DADFE1;}
.btn.btn-primary {background:#4B77BE;}
.btn.btn-info {background:#59ABE3;}
.btn.btn-success {background:#26C281;}
.btn.btn-warning {background:#E67E22;}
.btn.btn-danger {background:#F62459;}
#carousel-example .item{    margin: 1px;    }
#carousel-example .item img{    display: block;    width: 100%;    height: auto;    }
.counters p { font-size: 17px; font-weight: 300; margin: 0 auto; text-align: center; }
.counters span { display: block; font-size: 18px; font-weight: 300; text-align: center; }
.counters .circle-text { color: #807e7e; font-weight: 900; }
.elements h5.badge {font-size:18px; padding:9px 20px; background:#DE6262; display:table; margin:0 auto; margin-top:40px; margin-bottom:30px;}
.pricingtables.default { background: #fff; overflow: hidden; padding:0; }
.pricingtables.default .panel-heading { background: #222; }
.pricingtables.default .most-popular .panel-heading { background: #3a5955; }
.pricingtables.default .panel-heading h3 { color: #fff; font-size: 16px; font-weight: 400; letter-spacing: -.07em; margin: 0; padding: 12px 0; }

/* ==============================
	14 = Blog
============================== */
.blog { background: #EDEDED; padding:45px 0;}
.blog article {background: #fff; border-radius: 6px; margin-bottom:70px;}
.blog.single article {margin-bottom:40px;}
.blog article .post-content {padding:25px;}
.blog article .post-content h2 {font-size:32px; letter-spacing: -.07em; }
.blog article .post-content h2 a {color:#6E6E6E;}
.blog article .post-content hr { border: solid #DE6262; border-width: 1px 0 0; clear: both; height: 0; margin-top:27px; margin-bottom:27px; max-width:70px; }
.blog article .post-content .thedate {color:#abaaaa; font-size:19px; font-weight:900; }
.blog article .post-content p {font-size:17px; font-weight:300;}
.blog article .post-content ul li {font-size:17px; font-weight:300;}
.blog article .post-content blockquote {border-left-color: #DE6262;    font-size:17px; font-weight:300;}
.blog article .post-content .button {color: #fff; display:inline-block;     font-size: 15px;      padding: 15px 20px;    background: #72AC94;    border-radius: 3px;    text-decoration: none;}
.blog article .post-content .button:hover {background: #DE6262; }
.blog .sidebar {background: #fff; border-radius: 6px; padding:15px 25px;}
.blog .sidebar .widget {margin-bottom:45px;}
.blog .sidebar .widget h3.badge {border-radius:3px; padding:12px; display:block; font-size:16px; text-align: left}
.blog .sidebar .widget ul {padding:0; margin:0; list-style:none;}
.blog .sidebar .widget ul li {padding:9px 6px; font-size:18px; border-bottom:1px solid #EDEDED;}
.blog .sidebar .widget ul li span.badge {float:right; margin-top:2px; background:#DE6262;}
.blog .sidebar .widget ul li a {color:#6E6E6E;}
.blog .sidebar .widget ul li a:hover {color:#DE6262;}
.blog .sidebar .widget .blogsearch input[type="text"].form-control { border:0; box-shadow:none; border-radius: 6px; font-size: 18px; height: 55px; padding: 5px 15px; width: 100%; background: #EDEDED; }
.tagcloud {overflow:hidden;}
.tagcloud a { background: #EDEDED;    border: 0 none;    color: #6E6E6E;    display: block;    float: left;    font-size: 14px;    margin: 0 3px 3px 0;    padding: 5px 7px;    position: relative; border-radius:4px;}
.tagcloud a:hover { background: #DE6262; color:#fff;}
.blog nav ul.pagination {display:table; margin:0 auto; margin-bottom:45px;}
.blog nav ul.pagination li {font-size:15px;}
.blog nav ul.pagination li a {color:#6e6e6e; padding: 10px 18px 9px;}
.blog nav ul.pagination li a:hover {background: #DE6262; color:#fff;}

/* Comments */
.comments, #addcomments {padding:20px; background: #fff; border-radius: 6px;}
.comments { margin-bottom:50px;}
#thecomments {margin-top: 0;}
#thecomments h2.badge, #respond h2.badge { border-radius:3px; padding:7px 12px; display:table; margin:0 auto; margin-top:-32px; font-size:18px; }
#addcomments {margin-top: 0;}

/* Comments List */
ol.commentlist { margin: 0;  padding: 0 20px;}
.commentlist .comment-body{ padding: 0; margin: 0;  position: relative;    border-top: 0;}
.comment-body a:hover{  text-decoration: underline;}
.comment-body a.comment-reply-link {background:#DE6262; margin: 0; text-decoration:none; color:#fff; padding: 3px 8px 4px; font-size:11px; border:0; -webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
.comment-body a.comment-reply-link:hover {  background: #6E6E6E;}
ol.commentlist li {  margin-top:20px;  list-style: none;    padding: 20px 0;     background:#fff;  border-bottom: 1px solid #e9e9e9;}
ol.commentlist li ul.children {margin-bottom: 0px !important;    margin-top: 25px !important;}
ol.commentlist li ul.children li{ border-bottom: 0; padding-left: 20px  !important; margin: 10px 0; border-left:1px solid #e8e8e8;}
ol.commentlist li ul.children comment-body{ padding: 15px 0 5px;  margin: 10px 0 0; position: relative;}
.reply {margin-bottom:25px;}
ol.commentlist img.avatar { margin-right:20px; float:left; border-radius:50%; -webkit-border-radius:50%; -moz-border-radius:50%; width:48px;}
ol.commentlist .comment-author { line-height: 25px; border:0; width:100%; }
.comment-body h6{  font-style: normal; margin:0; padding:8px 0 0;}
.comment-body h6 a{color: #6E6E6E; }
.comment-body h6 a:hover {color: #DE6262; text-decoration: none}
.comment-time{  font-size: 12px;  font-style: normal;    color: #ccc;}
.commentmetadata {  clear: both;    padding: 0;    margin: 0;}
.commentmetadata a{ margin: 0;  color: #000;    text-decoration: underline;}
.comment-body p{ padding:20px 0 6px; font-weight:300;}
.comment-body .comment-author.vcard{  margin: 0; border-bottom: 1px solid #e8e8e8; padding-bottom:15px;}
.comment-body ul, .comment-body ol {padding:0; margin:0;}
.comment-body ul li, .comment-body ol li {padding:7px 0; margin:0; border:0;}
.comment-body ul li ul, .comment-body ol li ol {padding:7px 0 7px 7px; margin:0; border:0;}
#reply-title { margin:10px 0; padding:0 0 5px; font-weight:normal; font-size:26px; line-height:1.3; display: block; margin-bottom:-2px; font-weight: 700;}
.comment-notes {padding-top:25px; text-align: center;}
form#commentform textarea {min-height:150px;}
form#commentform label, form#commentform p {font-weight:300;}
form#commentform input#submit {background:#DE6262; margin-top: 0; color:#fff; padding:9px 12px 10px; font-size:16px; border:0; -webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
form#commentform input#submit:hover {  background: #6E6E6E;}

/* ==============================
	15 = Contact
============================== */
#map_wrapper { height: 550px; }
#map_canvas {width: 100%;    height: 100%;}
#map_canvas img {max-width: none;}
.info_content h5 {font-weight:400; color:#DE6262;}
.info_content p {font-weight:300; font-size:16px;}
.contact { background: #fff; padding:45px 0; overflow:hidden;}
.contact h3 {padding:12px 0; font-size:22px; border-bottom:1px solid #EDEDED; margin-bottom:25px;}
#contactform label {font-weight:300;}
#contactform input#submit {background:#DE6262; margin-top: 0; color:#fff; padding:9px 19px 10px; font-size:16px; border:0; -webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
#contactform input#submit:hover {  background: #6E6E6E;}
#sendstatus { margin: 0;}
#sendstatus .alert.alert-danger {border:0; border-left:5px solid #b55252; background:#DE6262; color:#fff; border-radius: 0}
#sendstatus .alert.alert-success {border:0; border-left:5px solid #56816f; background:#73AE95; color:#fff; border-radius: 0}
.contact h4.badge {border-radius:0; padding:12px; display:block; font-size:16px; text-align: left; background: #DE6262}
.contact p, .contact p a {color:#6E6E6E;}
.contact p a:hover {color:#DE6262;}
.contact ul {padding:0; margin:0; list-style:none;}
.contact ul li {padding:9px 6px; font-size:16px; border-bottom:1px solid #EDEDED;}
.contact ul li a {color:#6E6E6E;}
.contact ul li a:hover {color:#DE6262;}

/* ==============================
	Geek Host
============================== */

.geekhost {background: url(/images/banners/header_alt-1_bg.jpg) bottom center no-repeat; padding:45px 0; min-height: 540px;}
.geekhost h2 {color:#fff; text-align: center;}
.geekhost p {color:#fff; text-align: center; font-size:18px;}
.geekhost hr.small{border: solid #fff;
  border-width: 1px 0 0;}

/* ============
	Footer
============ */
.footer { background: url(/images/ctabg.png); padding: 45px 0 !important; }
.footer h4 { color: #e1e3e4; font-size: 26px; letter-spacing: -.05em; margin: 0; padding: 0 0 12px; }
.footer ul { list-style: none; margin: 0; padding: 10px 0 0; }
.footer ul li { border-bottom: 1px solid #3f3f3e; color: #ccc; font-size: 14px; padding: 8px 0; }
.footer ul li a { color: #ccc; }
.footer ul li a:hover { color: #6cd0c3; text-decoration: none; }
.footer ul.questions { list-style: none; margin: 0; padding: 10px 0 0; }
.footer ul.questions li { background: rgba(108, 208, 195, .4); font-size: 16px; margin-bottom: 4px; padding: 10px 15px; }
.footer ul.questions li i { padding-right: 6px; }
.footer ul.questions li a:hover { color: #fff; }
.social { background: #2d2d2d; }
.social ul { list-style: none; padding: 0; }
.social ul li { border-left: 1px solid #393939; float: left; margin: 0; padding: 25px 35px; }
.social ul li:last-child { border-right: 1px solid #393939; }
.social ul li a { color: #fff; font-size: 17px; }
.social ul li:hover { background: #49716c; }
.social ul li:hover a { color: #fff; }

.footer .copyright{
	text-align: center;
	margin-top: 25px;
	}

/* MailChip Newsletter Form Styling  ----------------------- */
#mc_embed_signup { text-align: right; padding-top:11px; }
#mc_embed_signup input[type="email"].form-control { border-radius: 0; font-size: 18px; height: 50px; padding: 5px 15px; width: 100%; }
#mc_embed_signup input[type="submit"] { background: #49716C; border: 0; border-radius: 0; color: #fff; cursor: pointer; font-size: 16px; font-weight: 900; height: 50px; padding: 8px 6px 6px; text-transform: uppercase; width: 100%; float:right; position: relative;}
#mc_embed_signup input[type="submit"]:hover { background: #4F6366; }
#mc_embed_signup input[type="email"]:focus, .domainsearch select:focus { border: 0; box-shadow: 0 8px 6px -6px #000; }
/* End of Footer */

/* Back to Top Button  ----------------------- */
#back-to-top { color:#fff; position:fixed; bottom:20px; right:20px; z-index:99; display:none; text-align: center; border-radius: 5px; -moz-border-radius: 5px;  -webkit-border-radius: 5px; -o-border-radius: 2px;    z-index: 10000;    height: 29px;    width: 29px;    background-color: rgba(0,0,0,0.4);    background-repeat: no-repeat;    background-position: center;    transition: background-color 0.1s linear;    -moz-transition: background-color 0.1s linear;    -webkit-transition: background-color 0.1s linear;    -o-transition: background-color 0.1s linear;}
#back-to-top i { padding-top:4px; font-size:17px; }
#back-to-top:hover { background:#B86662; background: rgba(184,102,98,.7); }

/* Pricing Tables */
.pricingtables { background: #efefef; overflow: hidden; padding: 45px 0 90px; }
.pricingtables h2 { font-weight: 900; margin-bottom: 12px; text-align: center; }
.pricingtables p { font-size: 17px; font-weight: 300; margin: 18px 0 0; text-align: center; }
.pricingtables h4 { color: #6cd0c3; font-size: 59px; letter-spacing: -.07em; margin: 0; padding: 0 0 10px; text-align: center; }
.pricingtables .panel { border: 0; border-radius: 0; margin: 0; padding: 0; }
.pricingtables .panel-heading { background: #222222; border: 0; border-radius: 0; filter: none !important; }
.pricingtables .panel-heading h3 { color: #fff; font-size: 21px; font-weight: 400; letter-spacing: -.07em; margin: 0; padding: 12px 0; }
.pricingtables .panel-body { background: #282828; margin: 0; padding: 10px 0 15px; }
.pricingtables .panel-body span { color: #fff; font-size: 11px; margin: 0 auto; padding: 5px 10px; }
.pricingtables .panel-body span.per { background: #222222; padding: 5px 10px 2px; }
.pricingtables ul { border: 0; list-style: none; margin: 0; padding: 0; }
.pricingtables ul li { border: 0; font-size: 16px; padding: 20px 0; }
.pricingtables ul li:nth-child(odd) { background: #fff; }
.pricingtables ul li:nth-child(even) { background: #e1e3e4; }
.pricingtables .panel-footer { text-align: center; }
.pricingtables .btn-pricetable { background: #6e6e6e; border-radius: 0; color: #fff; font-size: 1.3em; margin: 10px auto; padding: 10px 30px; }
.pricingtables .btn-pricetable:hover { background: #DE6262; }
.pricingtables .most-popular { border-width: 3px; box-shadow: 20px 0 20px -10px rgba(0, 0, 0, .15), -20px 0 20px -10px rgba(0, 0, 0, .15); padding: 0; top: -26px; z-index: 2; }
.pricingtables .most-popular .panel-heading { background: #3a5955; }
.pricingtables .most-popular .panel-body { background: #49716c; }
.pricingtables .most-popular h4 { color: #fff; }
.pricingtables .most-popular .panel-body span.per { background: #3a5955; }
.pricingtables .most-popular ul li { font-size: 17px; padding: 23px 0; }
.pricingtables .most-popular .btn-pricetable { margin: 15px auto; }
/* End of Pricing Tables */


/*Services ikoner - web*/
.services:before{
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto;
    content: "";
    background-image: url(/images/servicesprites.png);
    background-repeat: no-repeat;
}

.services h3{
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 500;
}

.services p{
    font-size: 16px;
}

#web_1:before {
    background-position: 0 0;
}
#web_2:before {
    background-position: -150px 0px;
}
#web_3:before {
    background-position: -300px 0px;
}
#web_4:before {
    background-position: -450px 0px;
}
#web_5:before {
    background-position: -600px 0px;
}
#web_6:before {
    background-position: -750px 0px;
}

#ecom_1:before {
    background-position: 0 -150px;
}
#ecom_2:before {
    background-position: -300px -150px;
}
#ecom_3:before {
    background-position: -600px -150px;
}
#ecom_4:before {
    background-position: -150px -150px;
}
#ecom_5:before {
    background-position: -450px -150px;
}
#ecom_6:before {
    background-position: -750px -150px;
}

#mob_1:before {
    background-position: 0 -300px;
}
#mob_2:before {
    background-position: -300px -300px;
}
#mob_3:before {
    background-position: -150px -300px;
}
#mob_4:before {
    background-position: -600px -300px;
}
#mob_5:before {
    background-position: -450px -300px;
}
#mob_6:before {
    background-position: -750px -300px;
}

#part_1:before {
        background-position: -750px -450px;
}
#part_2:before {
    background-position: -300px -450px;
}
#part_3:before {
    background-position: 0px -300px;
}

#analyt_1:before {
        background-position: 0px -450px;
}
#analyt_2:before {
    background-position: -300px -450px;
}
#analyt_3:before {
    background-position: 0px -300px;
}

#design_1:before {
    background-position: 0 -750px;
}
#design_2:before {
    background-position: -150px -750px;
}
#design_3:before {
    background-position: -300px -750px;
}
#design_4:before {
    background-position: -450px -750px;
}
#design_5:before {
    background-position: -600px -750px;
}
#design_6:before {
    background-position: -750px -750px;
}

#print_1:before {
    background-position: 0 -750px;
}
#print_2:before {
    background-position: -150px -750px;
}
#print_3:before {
    background-position: -450px -750px;
}

#brand_1:before {
    background-position: 0 -450px;;
}
#brand_2:before {
    background-position: -600px -450px;
}
#brand_3:before {
    background-position: -750px -450px;
}

/*Services responsive setup*/
@media (min-width: 768px) and (max-width: 991px){
.col-sm-6.services:nth-child(2n+1) {
    clear:left;
}
}
@media (min-width: 992px){
.col-md-4.services:nth-child(3n+1) {
    clear:left;
}
}

ul.featuresList{ font-family: inherit; font-size: 17px; font-weight: normal; line-height: 1.45; margin: 0 0 17px 0;  font-weight: 300;}