* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

svg { 
	max-height: 100%; 
}

audio, canvas, video {
	display: inline-block;
}

html {
	-webkit-font-smoothing: antialiased;
}

html, body{
	margin: 0;
	padding: 0;
}

body {
	font-size: 13px;
	line-height: 1.231;
    color: #222;
	font-family: "Open Sans",sans-serif;
}

main{
	margin-bottom: -50px;
}

header, footer, article, nav, section {
	display: block;
}

header {
	z-index: 501;
	font-family: "Open Sans",sans-serif;
	position: fixed;
	top: 40px;
}

h1 {
	font-size: 44px;
	line-height: 44px;
	color: #4e4e4e;
	font-weight: 300;
	margin: 0;
	padding: 0;
	margin-bottom: 30px;
}

h2 {
	font-size: 36px;
	font-weight: 200;
	margin-top: 0;
	margin-bottom: 30px;
	color: #4e4e4e;
}

h5{
	margin: 0 0 20px 0;
	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
}

h1 span, h2 span {
	font-family: 'Old Standard TT';
	font-style: italic;
}

.red {
	color: #eb6062;
}

p {
	color: #4e4e4e;
	font-size: 16px;
	line-height: 1.7;
	font-weight: 200;
}

.subHeadline {
	font-size: 25px;
	font-weight: 300;
	line-height: 42px;
	margin: 0 auto;
	max-width: 950px;
}

.cursive {
	font-family: 'Old Standard TT';
	font-style: italic;
	color: #eb6062;
}

a, a:hover{
	text-decoration: none;
}

section {
	width: 100%;
	padding: 50px 0;
	overflow: hidden;
	text-align: center;
	position: relative;
	background: #fff;
}

section.dark{
	background: #F7F7F5;
}

section.last .subHeadline{
	font-size: 28px;
	font-weight: 200;
}

.resp-img {
	width: auto\9;
	height: auto;
	max-width: 100%;
	min-width: 100%;
	vertical-align: middle;
	border: 0;
	-ms-interpolation-mode: bicubic;
}

.bottom-left, .bottom-right {
	position: absolute;
	bottom: 0px;
	left: 0;
	z-index: 300;
}

.top-left, .top-right {
	position: absolute;
	top: 0px;
	left: 0;
	z-index: 300;
}


header .headerContainer {
	position: relative;
}

/*Load layer*/
#loadLayer{
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	z-index: 1500;
	background: #fff;
}

#loadLayer .mask{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -25px;
	margin-left: -25px;
	z-index: 400;
	outline: #FFF 1px solid !important;
}

#loadLayer .logo{
	width: 50px;
	height: 50px;
	outline: 1px solid #FFF !important;
}

#loadLayer  .logo .mask {
	position: absolute;
	height: 100%;
	width: 100%;
	background: transparent url(../images/logoMask.png) no-repeat center center;
	background-size: 100% 100%;
	z-index: 10;
	outline: 1px solid #FFF !important;
}

#loadLayer .logo .bg {
	position: absolute;
	height: 100%;
	width: 100%;
	background: transparent url(../images/logoFill.png) repeat center center;
	background-size: 50px 173px;
	-webkit-animation: loop 3s linear infinite;
	animation: loop 3s linear infinite;
	padding: 1px;
}

@-webkit-keyframes loop{
	from{background-position:left 0}
	to
{background-position:left -173px}}
@keyframes loop{
	from{background-position:left 0}
	to
{background-position:left -173px}}

/*Navigation*/
.navigation {
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	width: 50px;
	height: 47px;
	position: absolute;
	z-index: 5;
	left: 40px;
	border-radius: 2px;
	cursor: pointer;
	background-color: #FFF;
	padding: 15px;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	-ms-transition: 0.3s;
	transition: 0.3s;
}

.navigation.isTop {
	background-color: #FFFFFF;
	color: #232b38;
}

.navigation.darkBG{
	background-color: #232b38 !important;
}

.navigation.darkBG .hamburger-icon{
	background-color: #fff !important;
}

.navigation.show {
	background-color: #FFFFFF !important;
	color: #232b38  !important;
}

.navigation.show .hamburger-icon{
	background-color: #232b38 !important;
}

.navigation.isTop:hover .hamburger-icon{
	background: #3caea6 !important;	
}

.navigation .burger {
	position: relative;
}

.navigation .hamburger-icon {
	cursor: pointer;
	height: 3px;
	width: 100%;
	background: #1a1c1a;
	position: absolute;
	display: none;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	-ms-transition: 0.3s;
	transition: 0.3s;
}

.navigation.isTop .hamburger-icon {
	background-color: #232b38;
}
.navigation .hamburger-icon.top {
	top: 0;
}
.navigation .hamburger-icon.middle {
	top: 7px;
}

.navigation .hamburger-icon.bottom {
	top: 14px;
}

.headerWelcome {
	height: 47px;
	position: fixed;
	z-index: 4;
	left: 78px;
	margin-left: 10px;
	color: #FFF;
	font-size: 20px;
	overflow: hidden;
	width: 250px;
}

.headerWelcome .typewriterContainer {
	overflow: hidden;
	font-size: 16px;
	color: #fff;
	line-height: 46px;
	padding-left: 20px;
}

.typewriterContainer.dark{
	color: #232b38 !important;	
}

.typed-cursor{
	opacity: 1;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}
@keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}

#sideNav {
	position: fixed;
	bottom: 0px;
	display: none;
	left: 0px;
	height: 100%;
	z-index: 500;
	backface-visibility: hidden;
}

.bg {
	position: relative;
	width: 100%;
	height: 100%;
	background-size: 100% auto;
	background-position: center center;
}

.main-nav {
	width: 400px;
	margin: 0 auto;
	position: absolute;
	z-index: 2;
	top: 2%;
	padding: 150px 2% 2% 1%;
	font-family: "Open Sans",sans-serif;
}

.main-nav ul {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	display: inline-block;
}

.main-nav ul li {
	display: block;
	padding: 1%;
	margin: 0 0 0.5% 0;
	position: relative;
	left: 0px;
	opacity: 0;
}

.main-nav li.active {
	color: #3caea6;
	cursor: default;
}

.main-nav li a {
	color: #FFF;
	font-size: 46px;
	font-weight: 200;
	text-decoration: none;
	opacity: 1;
	padding: 5px;
	-o-transition: color 0.3s ease-out;
	-ms-transition: color 0.3s ease-out;
	-moz-transition: color 0.3s ease-out;
	-webkit-transition: color 0.3s ease-out;
	transition: color 0.3s ease-out;
}

.main-nav li.active a:link, .main-nav li.active a:visited {
	color: #3caea6;
	cursor: default;
}

.main-nav li a:hover{
	color: #3caea6;
}

.lang-nav {
	position: absolute;
	bottom: 70px;
	left: 100px;
	font-size: 19px;
	color: #666666;
	z-index: 2;
}

.lang-nav li {
	float: left;
}

.lang-nav li a {
	color: #fff;
	font-weight: 200;
	text-decoration: none;
	opacity: 0.8;
	padding: 5px;
	font-weight: 400;
	-o-transition: color 0.3s ease-out;
	-ms-transition: color 0.3s ease-out;
	-moz-transition: color 0.3s ease-out;
	-webkit-transition: color 0.3s ease-out;
	transition: color 0.3s ease-out;
}

.lang-nav li.active a {
	color: #3caea6;
	cursor: default;
}

#navBg{
	-o-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;	
}

/*NAVIGATION END*/

/******************/

/*Content space*/
#contentSpace{
	position: absolute;
	width: 100%;
	height: 100%;
	min-height: 100%;
	/*background-color: #000;*/
	z-index: 1;
}

#contentSpaceContainer{
	position: absolute;
	width: 100%;
	overflow: hidden;
	min-height: 100%;
}

#container_wrapper {
	position: relative;
	padding: 0;
	background-color: #FFF;
	-o-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

#container{
	padding-top: 0px;
	position: relative;
	width: 100%;
	margin: auto;
	padding-left: 0px;
	padding-right: 0px;
}

.header {
	min-height: 150px;
	position: relative;
	overflow: hidden;
	height: 600px;
}

.overlay-video {
	width: 100%;
	height: 100%;
	background: url(../images/overlay.png);
	z-index: 99;
	position: absolute;
}

.mainVideoContainer {
	overflow: hidden;
	position: fixed;
	width: 100%;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	backface-visibility: hidden;
	transform: translateZ(0);
	height: inherit;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.header .logoContainer {
	position: absolute;
	text-align: center;
	z-index: 200;
	width: 100%;
}

.videoContainer {
	position: relative;
	padding-top: 56.25%;
	overflow: hidden;
}

.header .video {
	position: absolute;
	height: 100%;
	width: 100%;
	top: -20%;
}

.colorFillContainer {
	bottom: -70px;
	position: absolute;
	height: 125px;
	width: 100%;
}

#colorFill {
	z-Index: 50;
	height: 85px;
	bottom: 70px;
	width: 100%;
}

#colorMask {
	z-Index: 51;
	height: 60px;
	bottom: 0px;
	position: absolute;
	width: 100%;
}

.inner {
	margin: 50px auto;
	max-width: 1440px;
	z-Index: 2;
	position: relative;
	align-items: center;
	justify-content: center;
}

/*Welcome section*/

.welcome{
	margin-bottom: 70px;
	width: 70%;
	max-width: 900px;
	margin-top: 60px;
}

.whatIdo h3{
	font-size:28px;
	text-transform: uppercase;
	word-spacing: 0.1em;
	font-weight: 600;
	margin: 24px auto 18px;
}

.whatIdo .button{
	margin-top: 60px !important;
}

.clients{
	margin-top: 150px;
	margin-bottom: 150px;
}

.clients li {
	position: relative;
	display: inline-block;
	margin: 0% 3%;
	width: 15%;
	height: auto;
	overflow: hidden;
	margin-bottom: 3%;
}

/*Team*/
.team {
	clear: both;
	overflow: hidden;
	padding: 50px 80px;
	border-bottom: 1px solid #cccccc;
	background-repeat: no-repeat;
	min-height: 450px;
	text-align: left;
	max-width: 980px;
	margin: 0 auto;
}

.team.Odd {
	padding-right: 384px;
	margin-right: 55px;
	background-position: bottom right;
}

.team.even {
	padding-left: 384px;
	margin-left: 55px;
	background-position: bottom left;
}

.team#carsten {
	background-image: url(../images/cm.png);
}

.team h3 {
	text-transform: uppercase;
	word-spacing: 0.1em;
	color: #121b21;
	margin-top: 55px;
	font-size: 24pt;
	text-align: left;
}

.team p {
	font-size: 14pt;
	line-height: 1.2em;
	margin: 10px 0;
}

/*Keys*/
.keys{
	margin: 90px auto;
}

/*Cases*/

.cases{}

.cases .noPad{
	padding: 0px !important;
	margin: 1.3%;
}

.cases .case{
	opacity: 0; 
	transform: matrix(1, 0, 0, 1, 0, 50);
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.840, 0.440, 1.000) 0ms;
	transition: all 0.6s cubic-bezier(0.165, 0.840, 0.440, 1.000) 0ms;
}

.cases a figure img {
	width: 100%;
	height: auto;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.840, 0.440, 1.000) 0ms;
	transition: all 0.6s cubic-bezier(0.165, 0.840, 0.440, 1.000) 0ms;
}

.cases a:hover figure img{
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05);
}

.caseTop{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	width: 50%;
	padding: 50%;
	background-color: #FFF;
}

.bottomArrow{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
}

.bottomArrow:after {
	left: 10%;
	top: auto;
	bottom: -1px;
	border: solid transparent;
	content: " ";
	position: absolute;
	pointer-events: none;
	border-bottom: 12px solid white;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	z-index: 6;
	margin-left: -6px;
	-o-transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0ms;
	-ms-transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0ms;
	-moz-transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0ms;
	-webkit-transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0ms;
	transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0ms;
}

.caseDesc{
	padding: 37px 7%;
	background: white;
	overflow: hidden;
	height: 300px;
	color: #4e4e4e;
	text-align: left;
}

.cases h4{
	font-size: 24px;
    margin: 0;
	color: #4e4e4e;
	margin-bottom: 20px;
	font-weight: bold;
}

.cases h5{
	font-size: 21px;
	font-weight: 300;
	margin: 0;
	color: #4e4e4e;
}

/*Blog*/
.blog{
	max-width: 1150px;
}

.blog .banner{
	margin-bottom: 20px;	
}

.blog figure {
	position: relative !important;
	overflow: hidden;
}

.blog .banner img {
	-o-transition: all 0.6s cubic-bezier(0.165, 0.840, 0.440, 1.000) 0ms;
	-ms-transition: all 0.6s cubic-bezier(0.165, 0.840, 0.440, 1.000) 0ms;
	-moz-transition: all 0.6s cubic-bezier(0.165, 0.840, 0.440, 1.000) 0ms;
	-webkit-transition: all 0.6s cubic-bezier(0.165, 0.840, 0.440, 1.000) 0ms;
	transition: all 0.6s cubic-bezier(0.165, 0.840, 0.440, 1.000) 0ms;
}

.blog figure.bottom-arrow:after {
	left: 10%;
	top: auto;
	bottom: -1px;
	border: solid transparent;
	content: " ";
	position: absolute;
	pointer-events: none;
	border-bottom: 12px solid white;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	z-index: 6;
	margin-left: -6px;
	-o-transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0ms;
	-ms-transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0ms;
	-moz-transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0ms;
	-webkit-transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0ms;
	transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0ms;
}

.blog .banner .articleDesc {
	padding: 32px 7%;
	background: white;
	color: #4e4e4e !important;
	text-align: left;
}

.clearfix {
	zoom: 1;
}

.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}

.blog .date{
	font-size: 12px;
	font-weight: 200;
	margin-bottom: 20px;
	margin-top: 40px;
	color: #4e4e4e !important;
}

.blog .banner .articleDesc h4 {
	color: #4e4e4e;
	font-size: 30px;
	font-weight: 800;
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
	line-height: 1.2;
}
	
.blog .banner:hover figure img{
	-webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
	}

.blog .search{
	background: #fff;
	text-align: left;
	margin-bottom: 20px;
	font-size: 17px;
}

.blog .search input[type=text]{
	width: 100%;
	font-size: 14px;
	color: #666;
	border: 0px;
	background-color: #FFFFFF;
	font-family: "Open Sans",sans-serif;
	outline: 0;
	border-radius: 2px;
	font-weight: 200;
	text-indent: 30px;
	padding: 14px;
}

.blog .search button[type=submit]{
	border-color: transparent;
	background: none;
	background-color: transparent;
	color: #4c4c4c;
	position: absolute;
	top: 0px;
	left: 14px;
	line-height: 2.3em;
	text-indent: 5px;
}

.blog .search .fa:hover{
	color: #3caea6;
	-o-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.blog .categories{
	background: #fff;
	text-align: left;
}

.blog .categories li{
	
}

.blog .categories li h4{
	padding: 14px;
	font-size: 21px;
	font-weight: 600;
}	

.blog .categories li a{
	padding: 15px 20px;
	border-bottom:  5px solid #4e4e4e;
	-o-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
    display: block;
	width: 100%;
	color: #4e4e4e;
	font-size: 16px;
}

.blog .categories li a:hover{
	border-bottom: 5px solid #3caea6;
	color: #4e4e4e;
}

.blog .weekGif{
	margin-top: 20px;
	background: #fff;
	text-align: left;
}

.blog .weekGif img{
	width: 100%;
}

.blog .weekGif h4{
	  color: #4e4e4e;
  font-size: 16px;
  font-weight: 800;
  margin: 0;
    padding: 20.5px 7% 20.5px 7%;
  margin-bottom: 20px;
  line-height: 1.2;
}

/*Footer*/
.finalSection {
	text-align: left;
}

.finalSection .sitemap li{
	margin: 15px 0;
	font-size: 14px;
	color: #666666;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

footer.footerBlack {
	width: 100%;
	height: 48px;
	background: #1a1c1a;
	line-height: 48px;
	color: #a3a4a3;
	text-align: right;
	font-size: 12px;
}

footer.footerBlack .social {
	float: left;
	height: 48px;
}

footer.footerBlack .social .fa-stack{
	margin-right: 15px;
	height: 18px;
}

footer.footerBlack a:link, footer.footerBlack a:visited {
	color: #a3a4a3;
}

footer.footerBlack a {
	margin-left: 10px;
	color: #a3a4a3;
}

footer.footerBlack a:hover {
	color: #3caea6;
}

footer.footerBlack .copyright{
	float: right;	
}

/*Button styles*/
.button {
	padding: 10px 30px;
	display: inline-block;
	border-radius: 2px;
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	font-family: "Open Sans",sans-serif;
	font-weight: 400;
	border: none;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
	outline: none;
	position: relative;
	border: 2px solid #3e7882;
	-o-transition: color 0.3s ease-out;
	-ms-transition: color 0.3s ease-out;
	-moz-transition: color 0.3s ease-out;
	-webkit-transition: color 0.3s ease-out;
	transition: color 0.3s ease-out;
	-o-transition: background-color 0.3s ease-out;
	-ms-transition: background-color 0.3s ease-out;
	-moz-transition: background-color 0.3s ease-out;
	-webkit-transition: background-color 0.3s ease-out;
	transition: background-color 0.3s ease-out;
}

.button:hover, .button:disabled {
	color: #3e7882;
	background-color: transparent !important;
	text-decoration: none;
}

.button.button-blue {
	background-color: #3e7882;
}

section .inner .button {
	margin-top: 28px;
}

.welcome .button{
	margin-bottom: 50px;
}		